.container {
    margin: 200px auto;
    display: flex;
    justify-content: center;
}

.fail {
    position: fixed;
    margin: auto;
    bottom: 0;
    height: 40px;
    width: 500px;
    color: rgb(228, 28, 28);
    text-align: center;
    padding-top: 10px;

    transition: all 1s ease;
}