body {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stopwatch {
    color: blue;
    font-size: 200px;
    font-weight: bold;
}

button {
    margin: 10px;
}

.stopwatchmsc {
    margin-bottom: 47px;
    height: 37px;
    width: 700px;
    background-color:cyan;
}

.stopwatchms {
    color: black;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: bold;
}